.card {
    margin-bottom: 20px; /* Puedes ajustar el valor según tus preferencias */
}
/* Estilos personalizados aquí */
.card:hover {
    /* Estilo para el hover */
    cursor: pointer;
    opacity: 0.9;
}

/* Estilo para la estrella */
.estado-programa {
    font-size: 24px; /* Tamaño de la estrella */
    color: gray; /* Color de la estrella vacía */
    position: absolute;
    top: 10px; /* Ajusta la posición vertical */
    right: 10px; /* Ajusta la posición horizontal */
}


/* Puedes agregar más estilos personalizados */

.active-star {
    text-shadow: 1px 1px 0px grey, -1px -1px 0px grey, 1px -1px 0px grey, -1px 1px 0px grey;
}
